<!doctype html>
<html>
<head>
    <title><%=title%></title>

    <link rel="stylesheet" href="/responsive-nav/responsive-nav.css">
    <script type="text/javascript" src="/responsive-nav/responsive-nav.js"></script>

    <script>
        var navigation = responsiveNav(".nav-collapse",{
            animate: true, // Boolean: 是否启动CSS过渡效果（transitions）， true 或 false
            transition: 400, // Integer: 过渡效果的执行速度，以毫秒（millisecond）为单位
            label: "Menu", // String: Label for the navigation toggle
            insert: "after", // String: Insert the toggle before or after the navigation
            customToggle: "", // Selector: Specify the ID of a custom toggle
            openPos: "relative", // String: Position of the opened nav, relative or static
            jsClass: "js", // String: 'JS enabled' class which is added to <html> el
            debug: false, // Boolean: Log debug messages to console, true 或 false
            init: function(){}, // Function: Init callback
            open: function(){}, 
            close: function(){}
        });
    </script>
</head>
<body>   
    <div class="nav-collapse">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
