<!doctype html>
<html>
<head>
    <title><%=title%></title>

    <link rel="stylesheet" href="/responsive-nav/responsive-nav.css">
    <script type="text/javascript" src="/responsive-nav/responsive-nav.js"></script>

    <script>
        var navigation = responsiveNav(".nav-collapse");
    </script>
</head>
<body>   
    <div class="nav-collapse">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
