<!doctype html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/backend.css" />
        <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="login">
            <div >     
                <form class="form-horizontal" method="post" align="center">
                    <fieldset>
                         <legend><div align="center">管理员登录</div></legend>
                         <div class="control-group">
                             <label class="control-label" for="username">用户名</label>
                                <div class="controls" align="center">
                                    <input type="text" class="form-control"
                                        id="username" name="username"/>
                               </div>
                         </div>
                         <div class="control-group" >
                            <label class="control-label" for="password">口令</label>
                            <div class="controls" align="center">
                                <input type="password" class="form-control" 
                                   id="password" name="password">
                            </div>
                         </div>
                         <br/>
                        <div class="form-actions" align="center">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                     </fieldset>
                 </form>
            </div>
        <div>
    </body>
</html>

