<%include header-backend.ejs%>
<form class="form form-default" method="post">
	<div class="col-md-4">
		<div class="form-group">
			<label for="bookId" class="label-control">delete with bookId</label>
			<input type="text" name="bookId" id="bookId" class="form-control" 
				placeholder="input the bookId you want to delete">
			<button type="submit" class="btn btn-default">submit</button>
		</div>
	</div>
</form>
<%include footer-backend.ejs%>
